@import 'Dashboard';


.login{
  @extend %displayFlex;
  height:100vh;
  .header{
    @extend %displayFlex;
    @extend %header;
    align-self: flex-start;
    height: 12rem;
    box-shadow: 0 3px 20px -6px black;
    .title{
      font-family:yesteryear, sans-serif;
      font-size:4vh;
      width:8rem;
    }
  }
  .card{
    @extend %displayFlex;
    @extend %card;
    align-self: flex-start;
    height:50%;
    padding-top:4em;
    p{
      font-size: 2em
    }
  }
}