@import '~pretty-checkbox/src/pretty-checkbox.scss';
%displayFlex{
    display:flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
}
%header{
    justify-content: space-evenly;
    background:#A3255E;
    height:2.7em;
    width:100%;
    font-size: 2.8vh;
    box-shadow: 0 3px 6px -6px black;
    color:white;
}
%cardHeader{
    margin:0px;
    display: flex;
    align-self: baseline;
    align-items: center;
}
%background{
    background:#88A4C5;
    margin:0px;
    padding-top: 5em;
    height:100%;
}
%card{
    align-items: flex-start;
    background:white;
    height: 100%;
    width:24em;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19);
    margin:0 5% 5% 5%;
}
%button{
    background-color:#B97EA3;
    box-shadow: 3px 3px 10px -6px black;
    height: 2em;
    border-radius:.25em;
    margin:.5em;
    padding:.25em;
}
%container{
    @extend %displayFlex;
    flex-direction: column;
    width:38em;
    height:100%;
    // margin: 0 5% 0 5%;
    // padding: 0 5% 0 5%;

}
html{
    background-color: #88A4C5;
}
.dashboard{
    @extend %displayFlex;
    @extend %background;
    align-items: baseline;
}
.dashboardHeader{
    @extend %displayFlex;
    @extend %header;
    box-shadow: 0 3px 20px -6px black;
    position: fixed;
    top:0px;
    z-index: 10;
    align-items: center;
    .Link{
        @extend %displayFlex;
        color:inherit;
        text-decoration: none;
        width:5.7em;
        height: 60%;
        border-right:1px solid black;
        border-left:1px solid black;
    }
}
.container{
    @extend %container;
    .Card{
        width:90%;
        margin:0 0 1em 0 ;
    }
}
.Card{
    @extend %displayFlex;
    @extend %card;
    .Header{
        @extend %header;
        @extend %cardHeader;
    }
    .activities{
        @extend %displayFlex;
        flex-wrap: wrap;
        li{
            margin:.5em;
        }
        input{
            height:1em;
            width:1em;
            border: black solid;
        }
    }
    #cardTitle{
        opacity: .87;
    }
    button{
        @extend %button;
    }
    #submitButton{
        background-color: #B3C2D2;
        color: black;
        opacity:1;
        width:10em;
    }
    .moodButtons{
        width:3.5em;
    }       
    .moodInput{
        opacity: .80;
        margin:.5rem;
    }
    .habitCard{
        h3{
        opacity: .76;
        }
        button{
        background-color: #B3C2D2;
        }
    }
    .userCard{
        @extend %displayFlex;
        flex-direction: column;
        .Link{
            @extend %displayFlex;
            @extend %button;
            color:inherit;
            text-decoration: none;
            width:5.7em;
            height: 60%;
        }
    }
}

#icon{
    @extend %displayFlex;
    height:90%;
}