@import 'Dashboard';

.habitDash{
    @extend %displayFlex;
    @extend %background;
    flex-wrap: wrap;
    .habitDashCard{
        @extend %displayFlex;
        @extend %card;
        width:43em;
        .habitDisplay{
            @extend %displayFlex;
        }
        .habitCard{
            @extend %displayFlex;
            @extend %card;
            width:17em;
            margin-top: .2em;
            h2{
            @extend %header;
            @extend %cardHeader;
            align-self: flex-start;
            }
        }
        .box{
            height:2em;
            width:2em;
            border-radius: .2em;
            margin:.5em;           
        }
        #dataFound{background: lightgreen;}
        #noData{background:lightcoral;}
    }
    .DateChange{
        @extend %displayFlex;
        width:100%;
        flex-direction: row;
        align-self: flex-start;
        input{
            width:30%;
            margin:.5em;
        }
        button{
            width:30%;
            margin:.5em;
        }
        #details{
            width:1em;
        }
    }
   
    h1{
        @extend %header;
        @extend %cardHeader;
        align-self: flex-start;
    }
    input{
        width:80%;
        margin:1em;
    }
    button{
        height:2em;
        width:40%;
        margin:1em
    }
}