@import 'Dashboard';
@import '~pretty-checkbox/src/pretty-checkbox.scss';
 
.habitDash{
    @extend %displayFlex;
    @extend %background;
    flex-wrap: wrap;
    align-items: center;
   
    .habitDashCard{
        @extend %displayFlex;
        @extend %card;
        width:42em;
        .habitDisplay{
            @extend %displayFlex;
        }
        .habitCard{
            @extend %displayFlex;
            @extend %card;
            margin-left:1em;
            margin-right:1em;
            width:18em;
            margin-top: .2em;
            h2{
            @extend %header;
            @extend %cardHeader;
            align-self: flex-start;
            }
        }
        .box{
            @extend %displayFlex;
            height:2.5em;
            width:2.5em;
            border-radius: .2em;
            margin:.5em;
            justify-content: center;
            vertical-align: auto;
        }
        #dataFound{background: lightgreen;}
        #noData{background:lightcoral;}
    }
    .DateChange{
        @extend %displayFlex;
        width:100%;
        flex-direction: row;
        align-self: flex-start;
        input{
            width:30%;
            margin:.5em;
        }
        button{
            width:30%;
            margin:.5em;
        }
        #details{
            width:1em;
        }
    }
   
    h1{
        @extend %header;
        @extend %cardHeader;
        align-self: flex-start;
    }
    input{
        width:80%;
        margin:1em;
    }
    button{
        @extend %button;
        background-color: #B3C2D2;
        width:40%;
        margin:1em
    }
}
.habitcontainer{
     @extend %container;
        .habitDashCard{
            width:90%;
        margin:0 0 1em 0 ;
        }
}
