@import 'Dashboard';
@import '~pretty-checkbox/src/pretty-checkbox.scss';

.moodDash{
    @extend %displayFlex;
    @extend %background;
    align-items: flex-start;
    .moodDashCard{
        @extend %displayFlex;
        @extend %card;
        width:25em;
       
    }
    .DateChange{
        @extend %displayFlex;
        width:100%;
        align-self: flex-start;
    }
    h1{
        @extend %header;
        @extend %cardHeader;
        align-self: flex-start;
    }
    .box{
        @extend %displayFlex;
        height:2.5em;
        width:2.5em;
        border-radius: .2em;
        margin:.5em;
    }
    .detailed{
        width:90%;
    }
    .boxContainer{
        @extend %displayFlex;
        width:90%;
    }
    #Great{background:green;}  
    #Good{background:lightgreen;} 
    #Meh{background:rgb(236, 238, 143);}
    #Bleh{background: plum;}
    #Bad{background:purple;}
    #noData{background:rgb(207, 207, 207);}
    .DateChange{
        @extend %displayFlex;
        width:100%;
        flex-direction: row;
        align-self: flex-start;
        input{
            width:30%;
            margin:.5em;
        }
        button{
        @extend %button;
        background-color: #B3C2D2;
        width:30%;
        margin:.5em
        }
        #details{
            width:1em;
        }
    }
}